<p>festivo-editar works!</p>
<h1 mat-dialog-title>{{ form.value.id === 0 ? 'Agregar Festivo' : 'Editar Festivo' }}</h1>

<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" required />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Día</mat-label>
      <input matInput type="number" formControlName="dia" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Mes</mat-label>
      <input matInput type="number" formControlName="mes" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Días Pascua</mat-label>
      <input matInput type="number" formControlName="diasPascua" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Tipo ID</mat-label>
      <input matInput type="number" formControlName="idTipo" required />
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()" [disabled]="form.invalid">
    Guardar
  </button>
</div>
