<section class="home-container">

  <div class="buttons">
    <button mat-raised-button color="accent" routerLink="/verificarFestivos">Verificar Festivo</button>
    <button mat-stroked-button color="accent" routerLink="/festivo">festivo</button>
    <button mat-stroked-button color="accent" routerLink="/gestionTipos">Tipo</button>
  </div>

  <div class="developers-container">
    <div class="image-wrapper">
      <img src="/Desarrolladores.jpg" alt="Equipo de Desarrolladores" class="developers-image">
      <div class="overlay">
        <h1 class="title">Nuestro Equipo</h1>
        <p class="subtitle">Desarrolladores</p>
      </div>
    </div>
  </div>

</section>


