table {
  border-radius: 12px;
  overflow: hidden;

  th {
    background-color: #000B58 !important;
    color: white !important;
  }

  td {
    padding: 12px;
    font-size: 15px;
  }

  tr:hover {
    background-color: #e6f4f1 !important;
  }

  button.mat-icon-button {
    margin-right: 5px;
  }
}
