<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      Gestión de Festivos
    </div>
    <div class="card-body">

      <!-- Zona de búsqueda -->
      <div class="toolbar-container">
        <div class="search-container">

          <mat-form-field appearance="outline">
            <mat-label>Opción de Búsqueda</mat-label>
            <mat-select [(value)]="opcionBusqueda">
              <mat-option *ngFor="let opcion of opcionesBusqueda; let i = index" [value]="i">
                {{ opcion }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Buscar</mat-label>
            <input matInput [(ngModel)]="textoBusqueda" placeholder="Escriba aquí...">
          </mat-form-field>

          <button mat-flat-button color="primary" (click)="buscar()">
            <mat-icon>search</mat-icon>
            Buscar
          </button>
        </div>

        <!-- Zona de acciones -->
        <div class="action-buttons">
          <button mat-raised-button color="primary" (click)="agregar()">
            <mat-icon>add</mat-icon>
            Agregar
          </button>

          <button mat-raised-button color="accent" (click)="festivoEscogido && modificar(festivoEscogido)" [disabled]="!festivoEscogido">
            <mat-icon>edit</mat-icon>
            Modificar
          </button>

          <button mat-raised-button color="warn" (click)="festivoEscogido && verificarEliminar(festivoEscogido.Id)">Eliminar</button>

          <button mat-raised-button color="accent" routerLink="/tipos">Configuración de Tipos</button>
        </div>
      </div>

      <!-- Tabla -->
      <div class="table-container">
        <ngx-datatable class="material" [rows]="festivos" [columns]="columnas"
          [headerHeight]="50" [footerHeight]="50" [limit]="TAMANO" [selectionType]="tipoSeleccion"
          [columnMode]="modoColumna" (activate)="escoger($event)" [selected]="[festivoEscogido]">
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
