<section class="app-container">
  <h1>FestivosApp</h1>
  <h2>Bienvenido a la aplicación de gestión de festivos de Colombia.</h2>
  <div class="Content">
    <div class="developers-container">
      <div class="image-wrapper">
        <img src="Desarrolladores.jpg" alt="Equipo de Desarrolladores" class="developers-image">
        <div class="overlay">
          <h1 class="title">Nuestro Equipo</h1>
          <p class="subtitle">Desarrolladores </p>
        </div>
      </div>
    </div>
    <router-outlet />
  </div>

  <div>


  </div>

  <footer class="footer">
    <small>© {{ year }} - FestivosApp</small>
  </footer>
</section>



